<div>
	<input placeholder="Name..." id="name">
	<input placeholder="Description..." id="desc">
	<input placeholder="Difficulty..." id=="difficulty">
	<button id="submit">Add Course</button>
</div>

<script type="text/javascript">
	jQuery(function($){
		$('#submit').click(function(e){
			e.preventDefault();

			var name = $('#name').val(),
				desc = $('#desc').val(),
				difficulty = $('#difficulty').val();

			$.ajax({
				url: '/home/create_course',
				dataType: 'json',
				data: {name:name, desc:desc, difficulty:difficulty},
				success: function(data) {
					console.log(data);
				}
			});
		});
	});
</script>