<div class="container">
	<div class="list-group">
		<h1 class="course-page-title">Courses</h1>
		<% @courses.each do |course| %>
			<a href="/home/course/<%= course.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1 course-name"><%= course.name %></h5>
					<small class="course-difficulty">Difficulty Level: <%= course.difficulty %></small>
				</div>
				<p class="mb-1 course-description"><%= course.description %></p>
			</a>
		<% end %>
	</div>
</div>
<!-- <div>
	<input placeholder="Name..." id="name">
	<input placeholder="Description..." id="desc">
	<input placeholder="Difficulty..." id="difficulty">
	<button id="add-course">Add Course</button>
</div>
 -->

<!-- <form> -->
  <!-- <div class="form-group">
    <label for="course-name">Course Name</label>
    <input type="text" class="form-control" id="course-name" placeholder="Course Name...">
  </div>
  <div class="form-group">
    <label for="course-desc">Course Description</label>
    <textarea class="form-control" id="course-desc" placeholder="Course Description"></textarea>
  </div>
  <div class="form-group">
    <label for="course-difficulty">Course Difficulty</label>
    <input type="text" class="form-control" id="course-difficulty" placeholder="Course Difficulty">
  </div>
  <button id="add-course" class="btn btn-primary">Submit</button> -->
<!-- </form> -->


<script type="text/javascript">
	jQuery(function($){
		$('#add-course').click(function(e){
			e.preventDefault();

			var name = $('#course-name').val(),
				desc = $('#course-desc').val(),
				difficulty = $('#course-difficulty').val();

			$.ajax({
				url: '/home/create_course',
				dataType: 'json',
				data: {name:name, desc:desc, difficulty:difficulty},
				success: function(data) {
					// $()
				}
			});
		});
	});
</script>

<style type="text/css">
	.list-group-item {
		margin: 10px 0 10px 0;
		border-bottom: black solid 4px;
		border-radius: 0px !important;

		/* box-shadow inset */
		-webkit-box-shadow: inset 4px 3px 29px -14px rgba(0,0,0,0.75);
		-moz-box-shadow: inset 4px 3px 29px -14px rgba(0,0,0,0.75);
		box-shadow: inset 4px 3px 29px -14px rgba(0,0,0,0.75);
	}

	.list-group { 
		padding: 25px;
		margin-bottom: 50px;
		background: #8C96A1;

		/* box-shadow outset */
		-webkit-box-shadow: 4px 3px 29px -9px rgba(0,0,0,0.75);
		-moz-box-shadow: 4px 3px 29px -9px rgba(0,0,0,0.75);
		box-shadow: 4px 3px 29px -9px rgba(0,0,0,0.75);
	}

	.course-page-title {
		color:black;
		text-align:center;
		margin-bottom:10px;
	}
</style>