<html>
	<head>
		<title>Eveleth Web Developement Tutor</title>
	</head>
	<body>
		<div class="jumbotron main">
		  	<h1>Wev Developement Tutor</h1>
			<%= image_tag("niceish_photo_of_me.jpg") %>
		</div>
		<div class="container-fluid content-row">
			<div class="row section-one">
          		<div class="col-lg-4 d-flex align-items-stretch">
					<div class="card">
						<img src="https://via.placeholder.com/250" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">test</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4 d-flex align-items-stretch">
					<div class="card">
						<img src="https://via.placeholder.com/250" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">test</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4 d-flex align-items-stretch">
					<div class="card">
						<img src="https://via.placeholder.com/250" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">test</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>


<style type="text/css">
	body,html {
		margin:0;
		width: 100vw;
		overflow-x:hidden;
	}

	.img-section {
		height: 60%;
	}

	.card {
		margin: auto !important;
	}

	.jumbotron h1 {
		text-align: center;
	}

	.jumbotron img {
		margin-left: calc(50% - 100px);
		border: solid black 1px;
		border-radius: 1.5%;
	}
	
	.jumbotron.main {
		margin-bottom: 0 !important;
	}

	.section-one {
		background: #f5be57;
		height: 450px;
		border-top: black solid 1.5px;
	}
/*
	.section-one * {
		height: 100%;
	}

	.section-one * .row * img {
		margin-top: 10%;
		margin-left: 25%;
	}
*/
</style>