<html>
<head>
	<title>Eveleth Web Developement Tutor</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<!-- <div id="header-section">
		
	</div> -->
	<div class="jumbotron main">
	  	<h1>Wev Developement Tutor</h1>
		<!-- <img src="images/niceish_photo_of_me.jpg"> -->
		<%= image_tag("niceish_photo_of_me.jpg") %>

	</div>

	<div class="row section-one">
		<div class="col-md-3"></div>
		<div class="col-md-6"></div>
		<div class="col-md-3"></div>
	</div>
</body>
</html>


<style type="text/css">
	body,html {
		margin:0;
	}


	.jumbotron h1 {
		text-align: center;
	}

	.jumbotron img {
		margin-left: calc(50% - 100px);
		border: solid black 1px;
		border-radius: 1.5%;
	}
	
	.jumbotron.main {
		margin-bottom: 0 !important;
	}

	.section-one {
		background: #f5be57;
		height: 300px;
		border-top: black solid 1.5px;
	}

</style>