<html>
	<head>
		<title>Eveleth Web Developement Tutor</title>
	</head>
	<body>
		<div class="jumbotron main">
		  	<h1>Wev Developement Tutor</h1>
			<%= image_tag("niceish_photo_of_me.jpg") %>
		</div>
		<div class="container-fluid content-row">
			<div class="row section-one">
          		<div class="col-lg-4 d-flex align-items-stretch">
					<div class="card" data-section-link-number="one">
						<img src="https://via.placeholder.com/250" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">test</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4 d-flex align-items-stretch">
					<div class="card" data-section-link-number="two">
						<img src="https://via.placeholder.com/250" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">test</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4 d-flex align-items-stretch">
					<div class="card" data-section-link-number="three">
						<img src="https://via.placeholder.com/250" class="card-img-top">
						<div class="card-body">
							<h5 class="card-title">test</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="linked-section linked-section-one">section 1</div>
		<div class="linked-section linked-section-two">section 2</div>
		<div class="linked-section linked-section-three">section 3</div>
	</body>
</html>

<script type="text/javascript">
	jQuery(function($){
		$('.card').click(function(){
			var section_link_number = $(this).data('section-link-number');
			var section_element = $('.linked-section-'+section_link_number);
			var scroll_value = section_element.offset().top;
			console.log(scroll_value);
			$('html,body').animate({
				scrollTop: scroll_value+'px'
			});
		});
	});
</script>


<style type="text/css">
	body,html {
		margin:0;
		width: 100vw;
		overflow-x:hidden;
	}

	.linked-section {
		width: 100vw;
		height: 350px;

	}

	.card:hover {
		cursor: pointer;
	}

	.linked-section-one {
		background: lightblue;
	}

	.linked-section-two {
		background: lightgreen;
	}

	.linked-section-three {
		background: lightyellow;
	}

	.img-section {
		height: 60%;
	}

	.card {
		margin: auto !important;
		margin-bottom: 15px !important;
	}

	.card:first-of-type {
		margin-top: 15px !important;
	}

	.jumbotron h1 {
		text-align: center;
	}

	.jumbotron img {
		margin-left: calc(50% - 100px);
		border: solid black 1px;
		border-radius: 1.5%;
	}
	
	.jumbotron.main {
		margin-bottom: 0 !important;
	}

	.section-one {
		background: #f5be57;
		/*height: 450px;*/
		border-top: black solid 1.5px;
	}
/*
	.section-one * {
		height: 100%;
	}

	.section-one * .row * img {
		margin-top: 10%;
		margin-left: 25%;
	}
*/
</style>